#wrap{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    width: 1400px;
}

.card{
    padding: 20px;
    margin: 20px;
}
.list-group-item-dark{
    width: 500px;
}
.list-group{
    border-style: dashed;
    width: 300px;
}


#users{
    display: flex;
    flex-basis: auto auto;
    flex-wrap: wrap;
    width: 300px;


}

.bottom{
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
}
.top{
    width: 1200px;
}